ipywidgets==8.0.2
notebook
ensure
py-youtube

# dev requirements
pytest 
tox    
black = this is for formatting purpose
flake8 = findout any error is there
mypy = type check #any type error is there will be tested here
-e .
